@using dormitory.front.Client.model
@rendermode RenderMode.InteractiveWebAssembly
@using Blazorise;

<Carousel @bind-SelectedSlide="@selectedSlide" Interval="3000" AutoRepeat="false">
    <Repeater TItem="OptionModel" Items="@options">
        <CarouselSlide Name="@options.IndexOf(context).ToString()" >
            <div class="service">
                @* <div class="service-icon" style="background-image: url(@context.IconUrl)"></div> *@
                <Image Source="@context.IconUrl" Style="height: 110px" Margin="Margin.Is5.FromEnd"></Image>
                <div class="service-text">
                    <div class="service-title">@context.Title</div>
                    <a class="service-button" href="@context.Path"> <span class="form-icon"></span>@context.Description</a>
                </div>
            </div>
            <style>
                .service {
                    align-items: center;
                    justify-content: center;
                    background: linear-gradient( 90deg, #97cde4, #9ce497);
                    margin-bottom: 10px;
                    padding: 40px;
                    border-radius: 10px;
                    display: flex;
                    position: relative;
                }
            </style>
        </CarouselSlide>
    </Repeater>
     
</Carousel>

@code
{
    [Parameter]
    [EditorRequired]
    public List<OptionModel> options { get; set; }
    string selectedSlide = "0";

}


    
